<h1>Modelos de Produtos</h1>
<div><%= link_to 'Cadastrar novo modelo de produto', new_product_model_url %></div>
<% if @product_models.any? %>
  <% @product_models.each do |pm| %>
    <div>
    <h2><%= link_to pm.name, pm %></h2> 
    <dl>
      <dt>SKU:</dt>
      <dd><%= pm.sku %></dd>
      <dt>Fornecedor:</dt>
      <dd><%= pm.supplier.brand_name %></dd>
    </dl>
    </div>
    
    
    
  <% end %>
<% else %>
  <div><p>Não existem modelos de produtos cadastrados</p></div>
<% end %>