header {
    padding: 20px;
    background-color: lightgray;
}


header h1 {
    color: darkslateblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a.login {
    float: right;
    background-color: green;

    
}

button.login {
    float: right;
    background-color: green;
    color:white;
    padding: 15px 10px; 
    border: 0px;
    font-family: inherit; /* For all browsers */
    font-size: 100%; /* For all browsers */
    line-height: 1.15; 

}
button.login:hover {
    background-color: white;
    color: black;
}
p.login {
    color: black;
    float:right;
}



nav {
    background-color: lightcyan;
    overflow: hidden;

    
}

nav a {
    background-color: black;
    color: white;
    padding: 15px 10px; 
    float:left;
    text-decoration: none;
    
    
}

nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: azure;
    text-decoration: none;
    color:black;
}

.field_with_errors input {
    
    border: 1px solid red;
    
  }
.field_with_errors textarea {
    
    border: 1px solid red;
    
  }

