header {
    padding: 20px;
    background-color: lightgray;
}

#warehouses {
    background-color: azure;
    padding-left: 2%;
    
}

header,h1 {
    color: darkslateblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}