<h1>Fornecedores</h1>
<div><p><%= link_to 'Cadastrar novo fornecedor', new_supplier_path %></p></div>
<% if @suppliers.any? %>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Localização</th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |s| %>
        <tr>
          <td> <%= link_to s.brand_name, supplier_path(s.id) %> </td>
          <td> <%= s.city %>, <%= s.state %> </td>
        
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div><p>Não há fornecedores cadastrados</p></div>
<% end %>